@use '../../node_modules/normalize.css/normalize.css';
@use '../../node_modules/sanitize.css/sanitize.css';

@use './scss/button.scss';

:root {
  --height: 3em;
  --bg-color: white;
  --color: black;
  --eee: #eee;
  --ddd: #ddd;
  --ccc: #ccc;
  --bbb: #bbb;
  --aaa: #aaa;
  --555: #555;
  --444: #444;
  --333: #333;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-color: black;
    --color: #ddd;
    --eee: #333;
    --ddd: #444;
    --ccc: #555;
    --bbb: #666;
    --aaa: #777;
    --555: #ccc;
    --444: #ddd;
    --333: #eee;
  }
}

body {
  font-family: sans-serif;
  background-color: var(--bg-color);
  color: var(--color);
}

div#app {
  min-height: 100vh;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
}

main {
  display: flex;
  flex-flow: column;
  align-items: center;
  gap: 0.5em;

  padding: 0.5em;
  width: 100%;
  max-width: 100ch;
  margin: 0 auto;

  h1 {
    text-align: center;
  }

  p {
    width: 100%;
  }
}
