@use '../../node_modules/normalize.css/normalize.css';
@use '../../node_modules/sanitize.css/sanitize.css';

:root {
  --height: 3em;
  --bg-color: white;
  --color: black;
  --eee: #eee;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-color: black;
    --color: #ddd;
    --eee: #333;
  }
}

body {
  font-family: sans-serif;
  background-color: var(--bg-color);
  color: var(--color);
}

div#app {
  min-height: 100vh;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
}

main {
  display: flex;
  flex-flow: column;
  align-items: center;
  padding: 0.5em;

  h1 {
    text-align: center;
  }

  p {
    width: 100%;
  }
}
