@use '../../node_modules/normalize.css/normalize.css';
@use '../../node_modules/sanitize.css/sanitize.css';

body {
  font-family: sans-serif;
}

div#app {
  min-height: 100vh;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
}

main {
  display: flex;
  flex-flow: column;
  align-items: center;
  padding: 0.5em;

  h1 {
    text-align: center;
  }

  p {
    width: 100%;
  }
}
